.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: grid;
  width: 40vw;
  height: 40vw;
  grid-template-columns: repeat(4, 1fr);
}